.header  {
  display: flex;
  font-family: monospace;
  background: papayawhip;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

.left-links .right-links .logo{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.left-links{
  display: flex;
  justify-content: flex-start;
}

.right-links{
  justify-content: flex-end;
}
ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}